{%  extends 'accounts/main.html' %}
{% load static %}
{% block content %}

<style>
  .field-label {
    display: inline-flex;
		width: 100px !important;
		margin-right: 10px;
		margin-bottom: 5px;
  }

	.field {
		display: inline;
	}
</style>


<div class="row">
	<div class="col-md-6">
		<div class="card card-body">

			<form action="" method="POST">
				{% csrf_token %}
				<!-- {{form}} -->

				<!-- {% for field in form %}
				  {{field.label}}
				  {{field}}
					<br>
				{% endfor %} -->

				{% for field in form %}
				  <div class="field-label">
				    {{field.label}}
					</div>
					<div class="field">
				   {{field}}
					</div>
					<br>
				{% endfor %} 
				
				<input type="submit" name="Submit">
			</form>

		</div>
	</div>
</div>


{% endblock %}